<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="Culture" value="en-EN" />
    <add key="Monitoring" value="true" />
    <add key="StartUp" value="false" />
    <add key="FanProfile" value="0" />
    <add key="left" value="990" />
    <add key="top" value="300" />
    <add key="opacity" value="1" />
    <add key="bkg" value="0" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>